.products {
  padding: 50px 0;
  background-color: #f7f7f7;
  // .products__title

  &__title {
    margin-bottom: 32px;
  }

  // .products__tabs

  &__tabs {
    margin-bottom: 80px;
  }

  // .products__slide

  &__slide {
    margin-bottom: 60px;
  }

  // .products__link

  &__link {}
}